*{padding: 0px;margin: 0px;}


a{ text-decoration: none; color: black;}
a:hover { color:blue; }

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{ font-family: 'SBAggroB';
border: solid 1px red; }

.nav-item{font-size :20px;}
.header_logo{
	font-size: 30px;
}
.carousel-item img{
	width: 100%;
}
.item .title{
	font-size: 18px;
}
.item .content{
	font-size: 12px;
	margin-bottom: 50px;
}
.item .price1{
	color: gray;
	text-decoration: line-through;
}
.item .price2{
	font-size: 20px;
}

.titleline{
	border-bottom: solid 5px orange;
	width: 200px; 
	margin: 0 auto;
}
.form-control{
	background-color: white !important;
}
.shoppingbox{
	font-size: 10px;
	background-color: skyblue;
	color: white;
	padding: 2px 5px 2px 5px;
	border-radius: 10px;
	margin-right: 10px;
}

/* 드랍다운에 마우스 올렸을때 */
.dropdown:hover .dropdown-menu{
	display: block;
}

.boardlist_title{
	width:20%;
	border-bottom: 1px solid black;
	padding:20px;
	margin:100px 0px 50px 0px;
	
}

.boardlist_topbtn{
	margin:20px 0px;
}

.pagenum{
	color: black;
	font-size: 12px;
}

	#main_img{
			width: 100%;	/* 반응형*/
			height: 250px;
			}
		
		
	.BMW{	background-image: url("/jspweb/img/BMW.png"); 	/* 배경 이미지 */
			background-position:top center;  			/*배경 이미지 위치*/
			background-repeat: no-repeat;				/* 배경 이미지 자동채우기 제거 */
			margin: 20px 0px;
		}





